

body {
	margin: 0px;
}

header {
	background-color: #2C2C2C;
	display: flex;
}

/*Styling logo*/
.logo {
	align-self: center;
	margin: auto;
}

/*Styling klok*/
.clock {
	align-self: center;
	margin: auto;
    font-size: 50px;
    font-family: 'Nova Square', cursive;
}

/*Styling grijze achtergrond klok*/
.klok-achtergrond {
	background-color: #2C2C2C;
	display: flex;
	grid-area: klok;
	margin-bottom: 0%;
	}



@media screen and (min-width: 360px) {
  	#grid-container {
		width: 100%;
	    display: grid;
	    grid-template-columns: 1fr;
	    grid-template-rows: 3fr 15fr 4fr;
		grid-template-areas: "header" "section" "klok";
		height: calc(100vh);
	}

	header {
		grid-area: header;
	}

    section {
		grid-area: section;
		display: flex;
		flex-direction: column;
	}


	/*Styling logo*/
	.logo {
		width: 200px;
	}

	/*Styling laagstaande zon*/
	.laagstaande-sun {
		width: 300px;
		position: absolute;
		z-index: 10;
	}
	
	/*Styling geld voor eerste wolk*/
	.wolk1 {
		width: 200px;
		z-index: 1;
		margin-left: 10%;
	}

	/*Styling geld voor tweede wolk*/
	.wolk2 {
		width: 200px;
		z-index: 1;
		margin-left: 40%;
	}


	/*Styling zon*/
	.sun {
	  width: 200px;
	  margin-top: 30%;
	  margin-left: 21%;
	  position: absolute;
	  z-index: 10;
	}

	/*Styling maan*/
	.moon {
		width: 200px;
		margin-top: 30%;
		position: absolute;
		z-index: 10;
	}
}

@media screen and (min-width: 768px) {

  	#grid-container {
	    grid-template-columns: 1fr;
	    grid-template-rows: 3fr 15fr 4fr;
		grid-template-areas: "header" "section" "klok";
	}

	.logo {
		width: 300px;
	}

	.clock {
    font-size: 70px;
	}

	.laagstaande-sun {
		width: 400px;
		margin-top: 120px;
	    margin-left: 22%;
	}


	/*Styling geld voor eerste wolk*/
	.wolk1 {
		width: 350px;
		z-index: 1;
		margin-left: 10%;
	}

	/*Styling geld voor tweede wolk*/
	.wolk2 {
		width: 350px;
		z-index: 1;
		margin-left: 40%;
	}

	.sun {
	  width: 400px;
	  margin-top: 120px;
	  margin-left: 22%;
	}

	.moon {
		width: 400px;
	    margin-top: 120px;
	    margin-left: 22%;
	}
}

@media screen and (min-width: 1366px) {

	#grid-container {
	    grid-template-columns: 1fr;
	    grid-template-rows: 3fr 10fr 4fr;
	}

	.logo {
		width: 350px;
	}

	.clock {
    font-size: 80px;
	}

	.laagstaande-sun {
		width: 300px;
		margin-left: 28%;
	}

		/*Styling geld voor eerste wolk*/
	.wolk1 {
		width: 250px;
		z-index: 1;
		margin-left: 25%;
	}

	/*Styling geld voor tweede wolk*/
	.wolk2 {
		width: 250px;
		z-index: 1;
		margin-left: 50%;
	}

	.sun {
	  width: 300px;
	  margin-left: 38%;
	  margin-top: 15%;
	}

	.moon {
		width: 300px;
		margin-left: 37%;
		margin-top: 17%;
	}
}

@media screen and (min-width: 1926px) {

	#grid-container {
	    grid-template-columns: 1fr;
	    grid-template-rows: 2fr 10fr 4fr;
	}

	.logo {
		width: 400px;
	}

	.clock {
    font-size: 94px;
	}

	.laagstaande-sun {
		width: 500px;
	}

	

	.wolk1 {
		width: 450px;
		z-index: 1;
		margin-left: 25%;
	}

	/*Styling geld voor tweede wolk*/
	.wolk2 {
		width: 450px;
		z-index: 1;
		margin-left: 50%;
	}

	.sun {
	  width: 500px;
	}

	.moon {
		width: 500px;
	}

}



